$backGroundColor: #e1e1e1;
$textColor: #141414;

$slate: #212121;
$green: #262626;
$purple: #3a2abc;
$light-blue: #007dba;
$medium-blue: #110ba3;
$light-grey: #f7f7f7;
$med-grey: #bababa;

$nav-width: 520px;

/* general styles */

body {
	margin: 0; 
	padding: 0;
	background: $backGroundColor;
    color: $textColor;
	font-family: 'Lato', sans-serif; 
    -webkit-text-size-adjust: 100%;
}

#wrapper {
	margin: 30px 4% 2% 4%;	
    min-width: 300px;
}

.face-header {
    height: 130px;
    a:link {
        text-decoration: none;
        color: $textColor;
    }
    a:visited {
        color: $textColor;
    }
    img {
        display: inline;
        height: 120px;
        float: left;
        border: 3px solid white;
        border-radius: 50%;
    }
    .header-name {
        font-size: 300%;
        font-weight: 300;
        padding-left: 140px;
        padding-top: 32px;
    }
}

.medium-list {
    font-size: 110%;
    
    li {
        margin: 5px;
    }
}

.art-list {
    list-style: none;
    img {
        width: 100%;
    }
}

.masonry-grid {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-gap: 1em;
    
    div {
        display: inline-block;
        margin: 0 0 1em 0;
        line-height: 1;
        
        .thumb-img {
            width: 100%;
            cursor: pointer;
            background-color: white;
        }
    }
    
    .hide {
        display: none;
    }
    
    .detail-img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(44, 44, 44, 0.7);
        
        .full-img {
            margin: 20px auto 0 auto;

            height: auto;
            max-height: 90%;

            width: auto;
            max-width: 90%;
            display: block;
            background-color: white;
        }
        
        .description {
            width: 100%;
            background-color: #414141;
            position: fixed;
            left: 0;
            bottom: 0;
            margin: 0;
            color: white;
            padding: 20px 5% 20px 5%;
            font-size: 20px;
            line-height: 1.5;
        }
    }
}

.xout {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 26;
}

/* Nav Styles */
.standard-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 130%;
}
.standard-nav ul {
    padding: 0;
    margin: 0 auto 0 auto;
    background-color: $light-grey;
    width: $nav-width;
}
.standard-nav li{
    display: inline;
    color: $textColor;
}

/* Article Styles */
article {
    line-height: 1.5;
    
    h2 {
        color: $green;
        font-weight: 400;
        border-bottom: 2px solid $green;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    
    p { 
        font-family: Verdana, sans-serif;
        font-size: 110%;
    }
}

/* Link Styles */
a {
    color: $light-blue;
    text-decoration: none;
}
.standard-nav a{
    display: inline-block;
    padding: 10px;
    color: $textColor;
}
.standard-nav a:hover {
    color: $purple;
}
article a:hover {
    text-decoration: underline;
}
article a:visited {
    color: $medium-blue;
}

/* Tooltips */
span.tooltip {
    text-decoration: underline;
}
span.tooltip span {
    z-index: 25;
    display: none; 
    padding: 4px;
}
span.tooltip:hover span{
    display: inline; 
    position: absolute; 
    margin-top: 20px;
    color: $slate;
    border: 1px solid $slate;
    border-radius: 4px;
    background: white;
}

/* SlideMenu */
#navButton {
    display: none;
}
#navPanel {
    display: none;
}
@media (max-width: $nav-width) {
    .standard-nav {
        z-index: 25;
    }
    .face-header {
        height: 80px;
        text-align: right;
        img {
            display: none;
        }
        .header-name {
            font-size: 300%;
            padding: 0;
        }
    }
    #main-nav ul {
        display: none;
    }
    #navPanel nav {
        margin: 54px 0 0 0;
    }
    #navPanel nav ul{
        width: 250px;
        background-color: transparent;
        border: none;
        margin: 0 0 0 10px;
    }
    #navPanel nav li{
        display: block;
        width: 250px;
        border: 1px solid white;
        margin-top: 10px;
    }
    #navPanel nav li a{
        width: 230px;
        color: white;
    }
    #navPanel	{
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        width: 270px;
        z-index: 10;
        transition: ease 500ms;
        -webkit-transition: ease 500ms;
        -moz-transition: ease 500ms;
        -ms-transition: ease 500ms;
        -o-transition: ease 500ms;
    }
    #navPanel #navCanvas	{
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background: $purple;
        z-index: 0;
        overflow: auto;
        padding: 10px;
        font-size: 14px;
    }
    #mainContent	{
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background: $backGroundColor;
        z-index: 20;
        overflow: auto;
        transition: left 500ms;
        -webkit-transition: ease 500ms;
        -moz-transition: ease 500ms;
        -ms-transition: ease 500ms;
        -o-transition: ease 500ms;
    }
    #mainContent.slide	{
        left: 270px;
    }
    #navButton {
        display: inline-block;
        float: left;
        height: 20px;
        width: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 10px 15px 10px;
        background: $purple;
        cursor: pointer;
        z-index: 25;
        position: relative;
        left: 0px;
    }
    #navButton.out {
        left: 270px;
        transition: left 500ms;
        -webkit-transition: ease 500ms;
        -moz-transition: ease 500ms;
        -ms-transition: ease 500ms;
        -o-transition: ease 500ms;
    }

    .line {
        display: block;
        position: relative;
        height: 5px;
        margin-bottom: 5px;
        background: white;
    }
}

/* Table styles (what i'm reading page)*/

table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 0 0;
    
    ul {
        margin: 0;
        padding: 0 0 0 18px;
        li {
            font-weight: bold;
        }
    }
    
    .tr-label {
        color: $green;
        font-weight: bold;    
        text-align: right;
    }
    
    .thoughts {
        font-weight: normal;
    }
}

table, th, td {
    border: 1px solid $med-grey;
    padding: 8px;
    vertical-align: top;
}

/* Respooooonsive */

@media (min-width: 1300px) {
    #wrapper {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    article p{
        font-size: 110%;
        line-height: 1.6;
    }    
}

@media only screen and (min-width: 400px) {
    .masonry-grid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: $nav-width) {
    .masonry-grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry-grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry-grid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}