$backGroundColor: #e1e1e1;
$textColor: #141414;
$slate: #212121;
$green: #017c35;
$purple: #81479F;
$p1: darken(rgba(#134663, 0.8), 10%);
$p2: darken(rgba(#196096, 0.9), 10%);
$p3: darken(rgba(#51289c, 0.9), 10%);
$p4: rgba(#81479F, 0.75);
$clearPurple: rgba(#81479F, 0.75);
$light-blue: #3e86aa;
$medium-blue: #110ba3;
$light-grey: #f2f2f2;
$meta-width: 120px;

#wrapper {
    width: 94%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#home-link {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 32px;
    transition: top 0.5s;
    box-shadow: 0px 2px 10px #888888;
    z-index: 10;
    a {
        color: $purple;
        font-size: 18px;
        padding: 14px 10px 14px 10px;
        position: relative;
        top: -12px;
        width: 150px;
        margin: 0 auto 0 auto;
        display: block;
        img {
            height: 20px;
            position: relative;
            top: 3px;
        }
    }
    a:hover {
        color: lighten($purple, 20%);
    }
}

header {
    background-color: #e1e1e1;
    border-bottom: 2px solid $purple;
    height: auto;
    overflow: auto;
    .post-banner {
        width: 100%;
    }
    .post-title {
        float: left;
        width: calc(100% - #{$meta-width});
        font-size: 32px;
        margin: 26px 0 10px 0;
    }
    .post-subtitle {
        float: left;
        width: calc(100% - $meta-width);
        font-size: 22px;
        font-weight: 300;
    }
    .post-meta {
        float: right;
        text-align: right;
        width: $meta-width;
        font-size: 14px;
        margin: 30px 0 0 0;
        .metadata {
            display: block;
        }
    }
}

.post-content {
    clear: both;
    border-bottom: 2px solid $purple;
    h2 {
        color: $textColor;
        font-size: 24px;
        font-weight: bold;
    }
    h3 {
        font-size: 20px;
        text-decoration: underline;
    }
    img {
        display: block;
        width: 100%;
        margin: 0 auto 0 auto;
    }
    .giphy-embed {
        margin: 0 auto 0 auto;
        display: block;
    }
    .medium-img {
        max-width: 500px;
    }
    .small-img {
        max-width: 250px;
    }
    .video {
        display: block;
        margin: 10px auto 0 auto;
        width: 100%;
        max-width: 500px;
    }
    .how-played {
        width: 320px;
        float: right;
        margin: 0 0 10px 18px;
        dl {
            color: white;
            width: 100%;
            margin: 4px 0 4px 0;
        }
        h3 {
            text-align: center;
            text-decoration: none;
            margin: 4px 0 4px 0;
            font-weight: 400;
            font-size: 18px;
        }
        dt {
            display: inline-block;
            width: 75px;
            margin: 0;
            padding: 8px 14px 8px 0;
            text-align: right;
            float: left;
        }
        dd {
            display: inline-block;
            width: calc(100% - 95px);
            margin: 0;
            padding: 8px 0 8px 0;
            float: left;
        }
        .shadow {
            box-shadow: 0px 6px 10px -2px rgba(#000000, 0.5);
        }
        .how-play-wrapper {
            display: block;
            height: 36px;
            position: relative;            
        }
        .dl-1 {
            background: $p4;            
            z-index: 4;
        }
        .dl-2 {
            background: $p3;
            z-index: 3;
        }
        .dl-3 {
            background: $p2;
            z-index: 2;
        }
        .dl-4 {
            background: $p1;
            z-index: 1;
        }
    }
    .game-score {
        background: $clearPurple;
        color: white;
        padding: 10px;
        width: calc(100% - 20px);
        display: block;
        font-size: 120%;
        box-shadow: 0px 6px 10px -2px rgba(#000000, 0.5);
        img {
            height: 30px;
            width: auto;
            float: right;
        }
    }
    ul {
        padding: 0;
        background: darken($clearPurple, 15%);
        margin: -18px 0 16px 0;
        padding: 6px 0 6px 10px;
        list-style: none;
        display: inline-block;
        width: calc(50% - 10px);
        color: white;
        .list-icon {
            border-radius: 20px;
            width: 20px;
            display: inline-block;
            text-align: center;
            margin: -2px 0 0 0;
            padding: 0 0 1px 1px;
            opacity: 0.8;
            transform: scale(0.65);
        }
    }
    .good-points {
        float: left;
        .list-icon {
            border: 3px solid #b9e6b9;
            color: #b9e6b9;            
        }
    }
    .bad-points {
        float: right;
        .list-icon {
            border: 3px solid #e56a6a;
            color: #e56a6a;
        }        
    }
    .clear {
        clear: both;
    }
}

.social-links {
    margin-top: 16px;
    #___plusone_0 {
        position: relative;
        top: 2px;
    }
    .fb-like {
        position: relative;
        top: -4px;
    }
}

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 850px) {
    header {
        .post-title {
            font-size: 30px;
        }
    }
}

@media (max-width: 800px) {
    header {
        .post-title {
            font-size: 28px;
        }
        .post-subtitle {
            font-size: 20px;
        }
    }
}

@media (max-width: 720px) {
    header {
        .post-title {
            width: 100%;
            margin: 4px 0 10px 0;
        }
        .post-subtitle {
            width: 100%;
        }
        .post-meta {
            float: left;
            text-align: left;
            width: 100%;
            font-size: 14px;
            margin: 4px 0 10px 0;
            .metadata {
                display: inline;
                padding: 0 10px 0 10px;
                border-left: 2px solid $green;
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        .post-title {
            font-size: 26px;
        }
        .post-subtitle {
            font-size: 18px;
        }
    }
    .post-content {
        .game-score {
            text-align: center;
            font-size: 120%;
            padding: 6px;
            width: calc(100% - 12px);
            img {
                float: none;
                margin-top: 4px;
            }
        }
        .how-played {
            float: none;
            width: 100%;
            margin: 10px 0 0 0;
            h3 {
                text-align: left;
            }
        }
    }
}

@media (max-width: 550px) {
    header {
        .post-meta {
            .metadata {
                padding: 0 2px 0 4px;
            }
        }
    }
    .post-content {
        .video {
            height: 330px
        }
    }
}

@media (max-width: 500px) {
    .post-content {
        .video {
            height: 300px
        }
    }
}

@media (max-width: 450px) {
    header {
        .post-meta {
            .metadata {
                padding: 0 2px 0 2px;
                border-left: 1px solid $green;
            }
        }
    }
    .post-content {
        .video {
            height: 270px
        }
    }
    .post-content {
        .game-score {
            text-align: center;
            font-size: 100%;
            padding: 6px;
            width: calc(100% - 12px);
        }
        .how-played {
            font-size: 14px;
            h3 {
                font-size: 14px;
            }
        }
    }
}