/* line 14, /Users/kade/Desktop/kadekeith.me/css/post.scss */
#home-link {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 32px;
  transition: top 0.5s; }
  /* line 23, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  #home-link a {
    color: #81479f;
    font-size: 18px;
    padding: 14px 10px 14px 10px;
    position: relative;
    top: -12px;
    width: 150px;
    margin: 0 auto 0 auto;
    display: block; }
    /* line 33, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    #home-link a img {
      height: 20px;
      position: relative;
      top: 3px; }
  /* line 40, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  #home-link a:hover {
    color: #b184c8; }

/* line 45, /Users/kade/Desktop/kadekeith.me/css/post.scss */
header {
  background-color: #e1e1e1;
  border-bottom: 2px solid #81479f;
  height: auto;
  overflow: auto; }
  /* line 51, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-banner {
    width: 100%; }
  /* line 55, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-title {
    float: left;
    width: calc(100% - 120px);
    font-size: 32px;
    margin: 26px 0 10px 0; }
  /* line 62, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-subtitle {
    float: left;
    width: calc(100% - $meta-width);
    font-size: 22px;
    font-weight: 300; }
  /* line 69, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-meta {
    float: right;
    text-align: right;
    width: 120px;
    font-size: 14px;
    margin: 30px 0 0 0; }
    /* line 76, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    header .post-meta .metadata {
      display: block; }

/* line 82, /Users/kade/Desktop/kadekeith.me/css/post.scss */
.post-content {
  clear: both;
  border-bottom: 2px solid #81479f; }
  /* line 86, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content h2 {
    color: #141414;
    font-size: 24px;
    font-weight: bold; }
  /* line 92, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content h3 {
    font-size: 20px;
    text-decoration: underline; }
  /* line 97, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content img {
    display: block;
    width: 100%;
    margin: 0 auto 0 auto; }
  /* line 103, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .medium-img {
    max-width: 500px; }
  /* line 107, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .video {
    display: block;
    margin: 10px auto 0 auto;
    width: 100%;
    max-width: 500px; }
  /* line 114, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .game-score {
    background: rgba(129, 71, 159, 0.75);
    color: #e1e1e1;
    padding: 10px;
    width: calc(100% - 20px);
    display: block;
    font-size: 120%; }
    /* line 122, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .game-score img {
      height: 26px;
      width: auto;
      float: right; }

/* line 130, /Users/kade/Desktop/kadekeith.me/css/post.scss */
.social-links {
  margin-top: 16px; }
  /* line 133, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .social-links #___plusone_0 {
    position: relative;
    top: 2px; }
  /* line 138, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .social-links .fb-like {
    position: relative;
    top: -4px; }

@media (max-width: 850px) {
  /* line 146, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-title {
    font-size: 30px; } }

@media (max-width: 800px) {
  /* line 154, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-title {
    font-size: 28px; }
  /* line 158, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-subtitle {
    font-size: 20px; } }

@media (max-width: 720px) {
  /* line 166, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-title {
    width: 100%;
    margin: 4px 0 10px 0; }
  /* line 171, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-subtitle {
    width: 100%; }
  /* line 175, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-meta {
    float: left;
    text-align: left;
    width: 100%;
    font-size: 14px;
    margin: 4px 0 10px 0; }
    /* line 182, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    header .post-meta .metadata {
      display: inline;
      padding: 0 10px 0 10px;
      border-left: 2px solid #017c35; } }

@media (max-width: 600px) {
  /* line 194, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-title {
    font-size: 26px; }
  /* line 198, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-subtitle {
    font-size: 18px; }
  /* line 203, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .game-score {
    text-align: center;
    font-size: 120%;
    padding: 6px;
    width: calc(100% - 12px); }
    /* line 209, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .game-score img {
      float: none;
      margin-top: 4px; } }

@media (max-width: 550px) {
  /* line 220, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-meta .metadata {
    padding: 0 2px 0 4px; }
  /* line 226, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .video {
    height: 330px; } }

@media (max-width: 500px) {
  /* line 234, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .video {
    height: 300px; } }

@media (max-width: 450px) {
  /* line 242, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .video {
    height: 270px; }
  /* line 247, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .game-score {
    text-align: center;
    font-size: 100%;
    padding: 6px;
    width: calc(100% - 12px); } }

/*# sourceMappingURL=post.css.map */