/* line 16, /Users/kade/Desktop/kadekeith.me/css/post.scss */
#wrapper {
  width: 94%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

/* line 23, /Users/kade/Desktop/kadekeith.me/css/post.scss */
#home-link {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 32px;
  transition: top 0.5s;
  box-shadow: 0px 2px 10px #888888;
  z-index: 10; }
  /* line 33, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  #home-link a {
    color: #81479F;
    font-size: 18px;
    padding: 14px 10px 14px 10px;
    position: relative;
    top: -12px;
    width: 150px;
    margin: 0 auto 0 auto;
    display: block; }
    /* line 42, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    #home-link a img {
      height: 20px;
      position: relative;
      top: 3px; }
  /* line 48, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  #home-link a:hover {
    color: #b184c8; }

/* line 53, /Users/kade/Desktop/kadekeith.me/css/post.scss */
header {
  background-color: #e1e1e1;
  border-bottom: 2px solid #81479F;
  height: auto;
  overflow: auto; }
  /* line 58, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-banner {
    width: 100%; }
  /* line 61, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-title {
    float: left;
    width: calc(100% - 120px);
    font-size: 32px;
    margin: 26px 0 10px 0; }
  /* line 67, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-subtitle {
    float: left;
    width: calc(100% - $meta-width);
    font-size: 22px;
    font-weight: 300; }
  /* line 73, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-meta {
    float: right;
    text-align: right;
    width: 120px;
    font-size: 14px;
    margin: 30px 0 0 0; }
    /* line 79, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    header .post-meta .metadata {
      display: block; }

/* line 85, /Users/kade/Desktop/kadekeith.me/css/post.scss */
.post-content {
  clear: both;
  border-bottom: 2px solid #81479F; }
  /* line 88, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content h2 {
    color: #141414;
    font-size: 24px;
    font-weight: bold; }
  /* line 93, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content h3 {
    font-size: 20px;
    text-decoration: underline; }
  /* line 97, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content img {
    display: block;
    width: 100%;
    margin: 0 auto 0 auto; }
  /* line 102, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .giphy-embed {
    margin: 0 auto 0 auto;
    display: block; }
  /* line 106, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .medium-img {
    max-width: 500px; }
  /* line 109, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .small-img {
    max-width: 250px; }
  /* line 112, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .video {
    display: block;
    margin: 10px auto 0 auto;
    width: 100%;
    max-width: 500px; }
  /* line 118, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .how-played {
    width: 320px;
    float: right;
    margin: 0 0 10px 18px; }
    /* line 122, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played dl {
      color: white;
      width: 100%;
      margin: 4px 0 4px 0; }
    /* line 127, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played h3 {
      text-align: center;
      text-decoration: none;
      margin: 4px 0 4px 0;
      font-weight: 400;
      font-size: 18px; }
    /* line 134, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played dt {
      display: inline-block;
      width: 75px;
      margin: 0;
      padding: 8px 14px 8px 0;
      text-align: right;
      float: left; }
    /* line 142, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played dd {
      display: inline-block;
      width: calc(100% - 95px);
      margin: 0;
      padding: 8px 0 8px 0;
      float: left; }
    /* line 149, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played .shadow {
      box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.5); }
    /* line 152, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played .how-play-wrapper {
      display: block;
      height: 36px;
      position: relative; }
    /* line 157, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played .dl-1 {
      background: rgba(129, 71, 159, 0.75);
      z-index: 4; }
    /* line 161, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played .dl-2 {
      background: rgba(60, 30, 115, 0.9);
      z-index: 3; }
    /* line 165, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played .dl-3 {
      background: rgba(18, 68, 106, 0.9);
      z-index: 2; }
    /* line 169, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played .dl-4 {
      background: rgba(11, 40, 56, 0.8);
      z-index: 1; }
  /* line 174, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .game-score {
    background: rgba(129, 71, 159, 0.75);
    color: white;
    padding: 10px;
    width: calc(100% - 20px);
    display: block;
    font-size: 120%;
    box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.5); }
    /* line 182, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .game-score img {
      height: 30px;
      width: auto;
      float: right; }
  /* line 188, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content ul {
    padding: 0;
    background: rgba(86, 47, 106, 0.75);
    margin: -18px 0 16px 0;
    padding: 6px 0 6px 10px;
    list-style: none;
    display: inline-block;
    width: calc(50% - 10px);
    color: white; }
    /* line 197, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content ul .list-icon {
      border-radius: 20px;
      width: 20px;
      display: inline-block;
      text-align: center;
      margin: -2px 0 0 0;
      padding: 0 0 1px 1px;
      opacity: 0.8;
      transform: scale(0.65); }
  /* line 208, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .good-points {
    float: left; }
    /* line 210, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .good-points .list-icon {
      border: 3px solid #b9e6b9;
      color: #b9e6b9; }
  /* line 215, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .bad-points {
    float: right; }
    /* line 217, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .bad-points .list-icon {
      border: 3px solid #e56a6a;
      color: #e56a6a; }
  /* line 222, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .clear {
    clear: both; }

/* line 227, /Users/kade/Desktop/kadekeith.me/css/post.scss */
.social-links {
  margin-top: 16px; }
  /* line 229, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .social-links #___plusone_0 {
    position: relative;
    top: 2px; }
  /* line 233, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .social-links .fb-like {
    position: relative;
    top: -4px; }

/* line 239, /Users/kade/Desktop/kadekeith.me/css/post.scss */
.twitter-tweet {
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 850px) {
  /* line 246, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-title {
    font-size: 30px; } }

@media (max-width: 800px) {
  /* line 254, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-title {
    font-size: 28px; }
  /* line 257, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-subtitle {
    font-size: 20px; } }

@media (max-width: 720px) {
  /* line 265, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-title {
    width: 100%;
    margin: 4px 0 10px 0; }
  /* line 269, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-subtitle {
    width: 100%; }
  /* line 272, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-meta {
    float: left;
    text-align: left;
    width: 100%;
    font-size: 14px;
    margin: 4px 0 10px 0; }
    /* line 278, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    header .post-meta .metadata {
      display: inline;
      padding: 0 10px 0 10px;
      border-left: 2px solid #017c35; } }

@media (max-width: 600px) {
  /* line 289, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-title {
    font-size: 26px; }
  /* line 292, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-subtitle {
    font-size: 18px; }
  /* line 297, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .game-score {
    text-align: center;
    font-size: 120%;
    padding: 6px;
    width: calc(100% - 12px); }
    /* line 302, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .game-score img {
      float: none;
      margin-top: 4px; }
  /* line 307, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .how-played {
    float: none;
    width: 100%;
    margin: 10px 0 0 0; }
    /* line 311, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played h3 {
      text-align: left; } }

@media (max-width: 550px) {
  /* line 321, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-meta .metadata {
    padding: 0 2px 0 4px; }
  /* line 327, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .video {
    height: 330px; } }

@media (max-width: 500px) {
  /* line 335, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .video {
    height: 300px; } }

@media (max-width: 450px) {
  /* line 344, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  header .post-meta .metadata {
    padding: 0 2px 0 2px;
    border-left: 1px solid #017c35; }
  /* line 351, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .video {
    height: 270px; }
  /* line 356, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .game-score {
    text-align: center;
    font-size: 100%;
    padding: 6px;
    width: calc(100% - 12px); }
  /* line 362, /Users/kade/Desktop/kadekeith.me/css/post.scss */
  .post-content .how-played {
    font-size: 14px; }
    /* line 364, /Users/kade/Desktop/kadekeith.me/css/post.scss */
    .post-content .how-played h3 {
      font-size: 14px; } }

/*# sourceMappingURL=post.css.map */