$backGroundColor: #ebebeb;
$purpleGrey: #ddd2de;
$orangeGrey: #ded4b9;

$textColor: #141414;

$hoverColor: #81479f;

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: $backGroundColor;
    color: $textColor;
}

#content {
    margin-left: 60px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
    
    #text {
        
        h1 {
            font-size: 60px;
            font-weight: 300;   
            margin-left: -5px;
        }

        p {
            font-size: 30px;
            font-weight: 300;   
            margin: 0 0 20px 0;
        }

        nav ul {

            li {
                list-style: none;
                margin: 22px 0 22px 0;
            }

            a {
                font-size: 18px;
                font-weight: 400;
                color: $textColor;
                text-decoration: none;
                padding: 10px 0 10px 0;
            }

            a:hover {
                color: $hoverColor;
            }
        }
    }
}

#me {
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 35%;
    max-width: 600px;
    z-index: 1;
}

@media (max-width: 1000px) {
    #me {
        width: 40%;
    }
}

@media (max-width: 850px) {
    #me {
        width: 45%;
    }
}

@media (max-width: 700px) {
    #content {  
        margin-left: 40px;
        margin-top: 20px;
        #text {    
            h1 {
                font-size: 40px;
                font-weight: 400;  
                margin-left: -3px;
            }
            p {
                font-size: 20px;
                font-weight: 400;                                
            }
        }
    }
    #me {
        width: 55%;
    }
}

@media (max-width: 600px) {
    #content {  
        margin-left: 20px;
        margin-top: 15px;
        #text {    
            h1 {
                font-size: 36px;
                font-weight: 400;    
                margin-left: -2px;
            }
            p {
                font-size: 18px;
                font-weight: 400;                
            }
        }
    }
    #me {
        width: 55%;
    }
}

@media (max-width: 500px) {
    #content {  
        margin-left: 10px;
        margin-top: 10px;
    }
    #me {
        width: 60%;
    }
}