$backGroundColor: #d9d9d9;
$textColor: #141414;
$hoverColor: #81479f;
$contentWidth: 690px;

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: $backGroundColor;
    color: $textColor;
}

#content {
    width: $contentWidth;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
    #text {
        float: left;
        text-align: right;
        
        h1 {
            font-size: 60px;
            font-weight: 300;    
        }

        p {
            font-size: 30px;
            font-weight: 300;   
            margin: 0 0 20px 0;
        }

        nav ul {

            li {
                list-style: none;
                margin: 22px 0 22px 0;
            }

            a {
                font-size: 18px;
                font-weight: 400;
                color: $textColor;
                text-decoration: none;
                padding: 10px 0 10px 20px;
            }

            a:hover {
                color: $hoverColor;
            }
        }
    }
    
    #face {
        float: right;
        border-top-right-radius: 400px;
        border-bottom-right-radius: 400px;
    }
}

#fll {
    color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
}

@media (max-width: 700px) {
    #content {  
        width: $contentWidth - 140;
        margin-top: 40px;
        #text {    
            h1 {
                font-size: 40px;
                font-weight: 400;                                
            }
            p {
                font-size: 20px;
                font-weight: 400;                                
            }
        }
    }
}

@media (max-width: 600px) {
    #content {  
        margin-top: 20px;        
        width: $contentWidth - 220;
        #text {    
            h1 {
                font-size: 36px;
                font-weight: 400;                
            }
            p {
                font-size: 18px;
                font-weight: 400;                
            }
        }
        #face {
            width: 220px;
        }
    }
}

@media (max-width: 500px) {
    #content {  
        width: $contentWidth - 240;
        margin-top: 10px;
        #text {   
            position: absolute;
            right: 14px;
            z-index: 2;
            h1 {
                font-size: 36px;
                font-weight: 400;
            }
            p {
                font-size: 18px;
                font-weight: 400;
            }
        }
        #face {
            width: 200px;
            position: absolute;
            left: 0;
            z-index: 1;
            opacity: 0.3;
        }
    }
}