/* line 8, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
* {
  margin: 0;
  padding: 0; }

/* line 13, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
body {
  background: white;
  color: white;
  font-family: 'Lato', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px; }

/* line 20, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  line-height: 100%; }

/* line 25, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
a {
  color: #013d79; }

/* line 28, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
#resume {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  height: 1100px;
  position: relative;
  background: white;
  color: #333333; }
  /* line 38, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume .link {
    font-size: 11px; }
  /* line 42, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume header {
    height: 100px;
    background-color: #333333;
    color: white; }
    /* line 47, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume header h1 {
      margin: 20px 0px 0px 30px;
      font-weight: 300;
      font-size: 60px;
      float: left;
      width: 500px; }
    /* line 55, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume header p {
      margin: 15px 30px 0px 0px;
      float: right;
      text-align: right; }
  /* line 62, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #stripe {
    height: 8px;
    width: 100%;
    position: relative;
    bottom: 9px;
    left: 2px; }
    /* line 68, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #stripe div {
      width: 208px;
      height: 6px;
      display: inline-block;
      margin: 0;
      padding: 0; }
    /* line 75, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #stripe #blue {
      background-color: #69D2E7; }
    /* line 76, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #stripe #green {
      background-color: #A7DBD8; }
    /* line 77, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #stripe #sand {
      background-color: #E0E4CC; }
    /* line 78, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #stripe #orange {
      background-color: #F38630; }
  /* line 81, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume p {
    margin: 0px 0 6px 0; }
  /* line 85, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume h4 {
    margin: 0px 0 3px 0; }
  /* line 89, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume .time {
    float: right; }
  /* line 93, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume ul {
    padding-left: 22px;
    margin-bottom: 0;
    margin-top: 0;
    clear: both; }
    /* line 98, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume ul li {
      margin: 3px 0 3px 0; }
  /* line 103, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume b {
    font-weight: 500; }
  /* line 108, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume dl dt {
    width: 120px;
    text-align: right;
    float: left;
    position: relative;
    top: 10px;
    font-size: 16px;
    font-weight: 500; }
  /* line 118, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume dl .clear {
    height: 12px;
    border: none; }
  /* line 123, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume dl dd {
    width: 670px;
    float: right;
    padding-right: 30px;
    border-left: 1px solid #898989;
    padding-left: 16px; }
  /* line 134, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #eduDiv #university {
    float: left; }
  /* line 137, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #eduDiv #degree {
    clear: both; }
  /* line 143, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #expDiv .company {
    float: left;
    margin-top: 4px;
    margin-bottom: 0px; }
  /* line 150, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #expDiv .triCol h4 {
    margin-top: 5px; }
  /* line 153, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #expDiv .triCol ul {
    list-style: none;
    padding-left: 0; }
  /* line 159, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #expDiv #extracurricular {
    margin-top: 3px;
    width: 45%;
    float: left; }
  /* line 164, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #expDiv #leadership {
    margin-top: 3px;
    width: 54%;
    float: left; }
  /* line 172, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #skillsDiv ul {
    list-style: none;
    padding-left: 0;
    font-size: 14px; }
    /* line 176, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul li {
      margin-top: 10px; }
    /* line 179, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul span {
      margin-left: -5px;
      padding: 2px 3px 2px 3px; }
    /* line 183, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul span:first-child {
      margin-left: 0; }
    /* line 186, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul .bar1 {
      background-color: #69D2E7; }
    /* line 189, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul .bar2 {
      background-color: #A7DBD8; }
    /* line 192, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul .bar3 {
      background-color: #E0E4CC; }
    /* line 195, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul .bar4 {
      background-color: #F38630; }
    /* line 198, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul .label {
      /*float: right;*/
      position: relative;
      bottom: 1px;
      left: 5px;
      font-size: 12px; }
    /* line 205, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #cppBar {
      padding-right: 110px; }
    /* line 208, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #javaBar {
      padding-right: 90px; }
    /* line 211, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #pythonBar {
      padding-right: 70px; }
    /* line 214, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #jsBar {
      padding-right: 150px; }
    /* line 217, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #HTML5Bar {
      padding-right: 90px; }
    /* line 220, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #cssBar {
      padding-right: 80px; }
    /* line 223, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #gwtBar {
      padding-right: 20px; }
    /* line 226, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #sassBar {
      padding-right: 45px; }
    /* line 229, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #mapBar {
      padding-right: 6px; }
    /* line 232, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #restBar {
      padding-right: 20px; }
    /* line 235, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #xpathBar {
      padding-right: 30px; }
    /* line 238, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #d3Bar {
      padding-right: 90px; }
    /* line 241, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #creBar {
      padding-right: 6px; }
    /* line 244, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #chromeBar {
      padding-right: 30px; }
    /* line 247, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #gitBar {
      padding-right: 70px; }
    /* line 250, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #nixBar {
      padding-right: 10px; }
    /* line 253, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #blmBar {
      padding-right: 20px; }
    /* line 256, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #eclBar {
      padding-right: 10px; }
    /* line 259, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #psdBar {
      padding-right: 40px; }
    /* line 262, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #prmBar {
      padding-right: 30px; }
    /* line 265, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #gimpBar {
      padding-right: 30px; }
    /* line 268, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
    #resume #skillsDiv ul #imovieBar {
      padding-right: 10px; }
  /* line 275, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #projectDiv #projectList {
    list-style: none;
    padding-left: 0; }
  /* line 282, C:/Users/IBM_ADMIN/Desktop/keithkade.github.io/resume.scss */
  #resume #honorsDiv #honorsList {
    list-style: none;
    padding-left: 0; }

/*# sourceMappingURL=resume.css.map */