/* line 16, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
body {
  margin: 0;
  padding: 0;
  background: #333333;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px; }

/* line 25, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  line-height: 100%; }

/* line 30, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
a {
  color: #013d79; }

/* line 33, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
#resume {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  height: 1100px;
  background: white;
  color: #333333; }
  /* line 42, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
  #resume .link {
    font-size: 11px; }
  /* line 46, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
  #resume header {
    height: 100px;
    background-color: #333333;
    color: white; }
    /* line 51, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume header h1 {
      margin: 20px 0px 0px 30px;
      font-weight: 300;
      font-size: 60px;
      float: left;
      width: 500px; }
    /* line 59, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume header p {
      margin: 15px 30px 0px 0px;
      float: right;
      text-align: right; }
  /* line 66, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
  #resume #stripe {
    height: 8px;
    width: 100%;
    position: relative;
    bottom: 9px;
    left: 2px; }
    /* line 72, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #stripe div {
      width: 208px;
      height: 6px;
      display: inline-block;
      margin: 0;
      padding: 0; }
    /* line 79, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #stripe #blue {
      background-color: #69D2E7; }
    /* line 80, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #stripe #green {
      background-color: #A7DBD8; }
    /* line 81, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #stripe #sand {
      background-color: #E0E4CC; }
    /* line 82, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #stripe #orange {
      background-color: #F38630; }
  /* line 85, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
  #resume #left {
    position: absolute;
    top: 0;
    left: 0; }
    /* line 90, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #left h3 {
      font-weight: 500;
      width: 235px;
      margin: 0;
      text-align: right; }
    /* line 97, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #left #objHead {
      position: absolute;
      top: 130px; }
    /* line 102, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #left #eduHead {
      position: absolute;
      top: 165px; }
    /* line 107, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #left #expHead {
      position: absolute;
      top: 250px; }
    /* line 112, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #left #skiHead {
      position: absolute;
      top: 670px; }
    /* line 116, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #left #proHead {
      position: absolute;
      top: 825px; }
    /* line 120, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #left #honHead {
      position: absolute;
      top: 960px; }
  /* line 126, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
  #resume #right {
    float: left;
    width: 630px; }
    /* line 130, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right div {
      width: 630px; }
    /* line 134, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right p {
      margin: 0px 0 6px 0; }
    /* line 139, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right h4 {
      margin: 0px 0 3px 0; }
    /* line 143, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right .time {
      float: right; }
    /* line 147, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right ul {
      padding-left: 22px;
      margin-bottom: 0;
      margin-top: 0;
      clear: both; }
      /* line 152, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
      #resume #right ul li {
        margin: 3px 0 3px 0; }
    /* line 157, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right #objectivePara {
      position: absolute;
      top: 130px;
      left: 250px; }
    /* line 163, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right #eduDiv {
      position: absolute;
      top: 165px;
      left: 250px; }
      /* line 167, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
      #resume #right #eduDiv #university {
        float: left; }
      /* line 170, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
      #resume #right #eduDiv #degree {
        clear: both; }
    /* line 175, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right #expDiv {
      position: absolute;
      top: 250px;
      left: 250px; }
      /* line 179, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
      #resume #right #expDiv .company {
        float: left; }
      /* line 183, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
      #resume #right #expDiv .triCol h4 {
        margin-top: 5px; }
      /* line 187, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
      #resume #right #expDiv #extracurricular {
        margin-top: 3px;
        width: 45%;
        float: left; }
      /* line 192, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
      #resume #right #expDiv #leadership {
        margin-top: 3px;
        width: 45%;
        float: left; }
    /* line 199, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right #skillsDiv {
      position: absolute;
      top: 670px;
      left: 250px; }
      /* line 203, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
      #resume #right #skillsDiv ul {
        list-style: none;
        padding-left: 0;
        font-size: 14px; }
        /* line 207, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul li {
          margin-top: 10px; }
        /* line 210, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul .bar {
          margin-left: -5px; }
        /* line 213, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul .label {
          /*float: right;*/
          position: relative;
          bottom: 1px;
          left: 5px;
          font-size: 12px; }
        /* line 220, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #cppBar {
          padding: 2px 110px 2px 3px;
          background-color: #69D2E7;
          margin-left: 0px; }
        /* line 225, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #javaBar {
          padding: 2px 90px 2px 3px;
          background-color: #A7DBD8; }
        /* line 229, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #pythonBar {
          padding: 2px 70px 2px 3px;
          background-color: #E0E4CC; }
        /* line 233, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #jsBar {
          padding: 2px 130px 2px 3px;
          background-color: #69D2E7;
          margin-left: 0px; }
        /* line 238, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #HTML5Bar {
          padding: 2px 50px 2px 3px;
          background-color: #A7DBD8; }
        /* line 242, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #cssBar {
          padding: 2px 45px 2px 3px;
          background-color: #E0E4CC; }
        /* line 246, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #gwtBar {
          padding: 2px 45px 2px 3px;
          background-color: #F38630; }
        /* line 250, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #sassBar {
          padding: 2px 20px 2px 3px;
          background-color: #69D2E7; }
        /* line 254, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #mapBar {
          padding: 2px 4px 2px 3px;
          background-color: #69D2E7;
          margin-left: 0px; }
        /* line 259, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #restBar {
          padding: 2px 30px 2px 3px;
          background-color: #A7DBD8; }
        /* line 263, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #d3Bar {
          padding: 2px 20px 2px 3px;
          background-color: #E0E4CC; }
        /* line 267, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #awsBar {
          padding: 2px 10px 2px 3px;
          background-color: #F38630; }
        /* line 271, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #creBar {
          padding: 2px 6px 2px 3px;
          background-color: #69D2E7; }
        /* line 275, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #wordBar {
          padding: 2px 6px 2px 3px;
          background-color: #A7DBD8; }
        /* line 279, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #chromeBar {
          padding: 2px 10px 2px 3px;
          background-color: #69D2E7;
          margin-left: 0px; }
        /* line 284, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #gitBar {
          padding: 2px 70px 2px 3px;
          background-color: #A7DBD8; }
        /* line 288, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #nixBar {
          padding: 2px 10px 2px 3px;
          background-color: #E0E4CC; }
        /* line 292, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #eclBar {
          padding: 2px 10px 2px 3px;
          background-color: #F38630; }
        /* line 296, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #psdBar {
          padding: 2px 30px 2px 3px;
          background-color: #69D2E7;
          margin-left: 0px; }
        /* line 301, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #gimpBar {
          padding: 2px 10px 2px 3px;
          background-color: #A7DBD8; }
        /* line 305, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #imovieBar {
          padding: 2px 10px 2px 3px;
          background-color: #E0E4CC; }
        /* line 309, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #osxBar {
          padding: 2px 30px 2px 3px;
          background-color: #F38630; }
        /* line 313, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #winBar {
          padding: 2px 6px 2px 3px;
          background-color: #69D2E7; }
        /* line 317, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
        #resume #right #skillsDiv ul #ubuBar {
          padding: 2px 6px 2px 3px;
          background-color: #A7DBD8; }
    /* line 324, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right #projectDiv {
      position: absolute;
      top: 825px;
      left: 250px; }
      /* line 328, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
      #resume #right #projectDiv #projectList {
        list-style: none;
        padding-left: 0; }
    /* line 334, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
    #resume #right #honorsDiv {
      position: absolute;
      top: 960px;
      left: 250px; }
      /* line 339, /Users/kadekeith/Desktop/keithkade.github.io/resume.scss */
      #resume #right #honorsDiv #honorsList {
        list-style: none;
        padding-left: 0; }

/*# sourceMappingURL=resume.css.map */