body {
	margin: 0; 
	padding: 0;
	background: #333333;
    color: white;
	font-family: helvetica, arial, sans-serif; 
}
#wrapper {
	margin: 2% 4% 2% 4%;	
    min-width: 450px;
}
header {
    height: 160px;
    margin-left: -3%;
}
header a:link {
    text-decoration: none;
    color: white;
}
header a:visited {
    color: white;
}
header img {
    display: inline;
    height: 150px;
    float: left;
    border: 5px solid white;
    border-radius: 50%;
}
header h1 {
    font-size: 300%;
    padding-left: 180px;
    padding-top: 50px;
}
#email {
    padding-left: 182px;
    margin-top: -36px;
}
/* Nav Styles */
nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size: 130%;
}
nav ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid white;
    border-radius: 6px;
    width: 490px;
}
nav li{
    display: inline;
}
/* Article Styles */
article {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}
article h2 {
    color: #7FFF00;
    margin-bottom: 5px;
}
/* Link Styles */
a {
    color: #66CCFF;
    text-decoration: none;
}
nav a{
    display: inline-block;
    padding: 10px;
}
nav a:hover {
    color: white;
}
article a:hover {
    text-decoration: underline;
}
article a:visited {
    color: #478FB2;
}

@media (min-width: 1100px) {
    #wrapper {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    article p{
        font-size: 110%;
        line-height: 1.7;
    }    
}