$dark-grey:     #333333;
$light-grey:    #666666;
$green:         #c8e600;
$purple:        #e600c8;
$teal:          #00c8e6;

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: white;
}

.settings-panel {
    width: 300px;
    height: 100%;
    background-color: $dark-grey;
    padding: 10px;
}

/* UI components */

.filter-slider{
    $filter-knob-width: 8px;
    $filter-slide-height: 20px;
    $filter-slide-width: 200px;    
    
    position: relative;
    width: $filter-slide-width;
    height: $filter-slide-height;
    font-size: 12px;
    display: block;
    margin: 0 0 28px 0;
    
    .filter-slide-title{
        position: absolute;
        left: $filter-slide-width + 14;
        font-size: 14px;
    }
    
    //the whole slider
    .filter-slide-end {
        -webkit-appearance: none;
        position: absolute;
        top: 0;
        left: $filter-knob-width;
        width: $filter-slide-width;
        pointer-events: none;       
        height: $filter-slide-height;
    }    

    //the grabby bit
    .filter-slide-end::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        width: $filter-knob-width;
        background: $purple;
        pointer-events: all;
        position: relative;
        z-index: 1;
        height: $filter-slide-height + 6;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,1);
    } 
    
    .l-slide::-webkit-slider-thumb {
        border-top-left-radius: $filter-knob-width / 1.5;
        border-bottom-left-radius: $filter-knob-width / 1.5;
    }
    
    .r-slide::-webkit-slider-thumb {
        border-top-right-radius: $filter-knob-width / 1.5;
        border-bottom-right-radius: $filter-knob-width / 1.5;   
    }
 
    //grey out non-selected part
    .filter-curtain {
        position: absolute;
        background-color: $light-grey;
        opacity: .5;
        height: $filter-slide-height;
        top: 0;
    }
    
    //value display
    .filter-val-disp {
        position: absolute;
        top: $filter-slide-height + 4;
    }
    
    //values graph
    .slide-graph {
        width: 100%;
        height: $filter-slide-height;
        display: inline-block;
        position: absolute;
        left: $filter-knob-width;
        
        .bar {
            background-color: $purple;
            opacity: .3;
            display: inline-block;
        }
        
    }
}

.phys-slider-container {
    $phys-slide-width: 200px;
    $phys-slide-height: 4px;
    $grabby-radius: 4px;
    
    
    .phys-slider-title {
        display: block;
    }
    
    //src: http://jsfiddle.net/1xg1j3tw/
    //hella complicated to get the left side highlight thing to work
    .phys-slider{
        -webkit-appearance: none;
        border-radius: 0px;
        position: relative;
        overflow-x: hidden;
        overflow-y: visible;
        width: $phys-slide-width;
        background: transparent;
    }
    
    .phys-slider::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        position: relative;
        cursor: pointer;
        width: $grabby-radius + 2; //idk
        height: 100%;
    }
    
    .phys-slider::-webkit-slider-runnable-track {
        background: #757575; 
        height: 6px;
        margin: 10px 0;
        //border-radius: 4px;
    }
    
    .phys-slider::-webkit-slider-thumb:before {
        content:"-";
        position: absolute;
        left: -$phys-slide-width * 2;
        right: 0;
        top: 0;
        bottom: 0;
        background: $purple;
        opacity: .4;
    }
    
    .phys-slider::-webkit-slider-thumb:after {
        content: "";
        position: absolute;
        left: -$grabby-radius;
        right: -$grabby-radius;
        top: -$grabby-radius;
        bottom: -$grabby-radius;
        background: $purple;
        border-radius: 50%;
    }

}
