/* line 53, C:/Users/Kade/git/CitationViz/app/css/style.scss */
* {
  margin: 0;
  padding: 0; }
  /* line 31, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  * ::-webkit-scrollbar {
    width: 12px;
    height: 12px; }
  /* line 36, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  * ::-webkit-scrollbar-thumb {
    background: #3c3c3e; }
  /* line 40, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  * ::-webkit-scrollbar-track {
    background: #9d9d9f; }
  /* line 45, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  * body {
    scrollbar-face-color: #3c3c3e;
    scrollbar-track-color: #9d9d9f; }

/* line 59, C:/Users/Kade/git/CitationViz/app/css/style.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif; }

/* line 65, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.settings-panel {
  width: 420px;
  height: 600px;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 0 10px 0 10px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20px;
  z-index: 5;
  opacity: 0.85;
  border-radius: 5px;
  display: none; }

/* line 81, C:/Users/Kade/git/CitationViz/app/css/style.scss */
h4 {
  font-weight: 400;
  padding: 10px 0 0 0;
  margin: 0; }

/* line 87, C:/Users/Kade/git/CitationViz/app/css/style.scss */
h3 {
  margin: 6px 0 0 10px;
  font-weight: bold;
  color: white;
  font-size: 18px; }

/* line 95, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#explore-graph {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 560px;
  border-right: 2px solid #333339; }

/* line 105, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#selected-nodes {
  position: absolute;
  bottom: 515px;
  top: 0;
  right: 0;
  background-color: #555558;
  width: 560px;
  overflow: auto;
  padding-bottom: 20px; }
  /* line 115, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  #selected-nodes .bookmark {
    color: white;
    margin: 4px 0 0 10px;
    white-space: nowrap;
    cursor: pointer; }
  /* line 122, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  #selected-nodes .bookmark:hover {
    color: #00c8e6; }

/* line 129, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#mice {
  position: absolute;
  bottom: 160px;
  right: 0;
  height: 350px;
  width: 560px;
  background-color: white;
  border-top: 5px solid yellow; }
  /* line 138, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  #mice .ecologylab-metadataContainer {
    min-width: 560px;
    height: 350px;
    overflow-y: auto; }

/* line 145, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#how-to {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 160px;
  width: 560px;
  background-color: white;
  border-top: 5px solid #555558;
  background-color: #555558;
  color: white; }
  /* line 155, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  #how-to p {
    margin: 6px 0 0 10px;
    line-height: 130%; }
  /* line 159, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  #how-to a {
    position: absolute;
    right: 12px;
    bottom: 8px;
    color: #00c8e6; }

/* UI components */
/* line 170, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.filter-dropdown {
  font-size: 14px;
  overflow-y: scroll;
  max-height: 280px;
  position: relative;
  top: -1px; }
  /* line 178, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-dropdown.expanded .dropdown-title {
    border-bottom: none;
    box-shadow: none; }
  /* line 182, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-dropdown.expanded li {
    display: block; }
  /* line 188, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-dropdown.collapsed li {
    display: none; }
  /* line 193, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-dropdown li {
    background-color: #555558;
    padding: 2px; }

/* line 200, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.dropdown-title {
  background-color: #555558;
  padding: 2px;
  border: 1px solid black;
  box-shadow: 0px 1px 2px 0px black;
  position: relative;
  top: -2px;
  left: -1px;
  cursor: pointer; }
  /* line 210, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .dropdown-title.expanded {
    border-bottom: none;
    box-shadow: none; }

/* line 216, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.dropdown-caret {
  font-size: 10px; }

/* line 221, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.filter-clear {
  margin: 2px;
  padding: 2px;
  position: relative;
  top: -4px;
  color: white;
  border: 1px solid white;
  background-color: #e600c8;
  cursor: pointer; }

/* line 232, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.filter-clear:hover {
  background-color: #b3009c; }

/* line 236, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.filter-slider {
  position: relative;
  width: 350px;
  height: 20px;
  font-size: 12px;
  display: block;
  margin: 10px 0 30px 0; }
  /* line 244, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .filter-slide-title {
    position: absolute;
    left: 364px;
    font-size: 14px; }
  /* line 251, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .filter-slide-end {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 8px;
    width: 350px;
    pointer-events: none;
    height: 20px;
    outline: none; }
  /* line 263, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .filter-slide-end::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 8px;
    background: #e600c8;
    pointer-events: all;
    position: relative;
    z-index: 1;
    height: 26px;
    box-shadow: 0px 1px 2px 0px black; }
  /* line 275, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .l-slide::-webkit-slider-thumb {
    border-top-left-radius: 5.33333px;
    border-bottom-left-radius: 5.33333px; }
  /* line 280, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .r-slide::-webkit-slider-thumb {
    border-top-right-radius: 5.33333px;
    border-bottom-right-radius: 5.33333px; }
  /* line 286, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .filter-curtain {
    position: absolute;
    background-color: #555558;
    opacity: .5;
    height: 20px;
    top: 0; }
  /* line 295, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .filter-val-disp {
    position: absolute;
    top: 24px; }
  /* line 301, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .slide-graph {
    width: 100%;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 8px; }
    /* line 308, C:/Users/Kade/git/CitationViz/app/css/style.scss */
    .filter-slider .slide-graph .bar {
      background-color: #e600c8;
      opacity: .3;
      display: inline-block; }

/* line 317, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.phys-slider-container {
  font-size: 14px;
  margin: 10px 0 10px 0; }
  /* line 321, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .icon {
    width: 22px;
    height: 22px;
    clear: both;
    float: left; }
  /* line 328, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider-title {
    display: inline-block;
    float: left; }
  /* line 333, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container button {
    margin: 2px 50px 2px 2px;
    padding: 2px;
    position: relative;
    top: -4px;
    color: white;
    border: 1px solid white;
    background-color: #e600c8;
    cursor: pointer;
    display: inline;
    float: right; }
  /* line 348, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider {
    -webkit-appearance: none;
    border-radius: 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 350px;
    height: 22px;
    background: transparent;
    outline: none; }
  /* line 360, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    position: relative;
    cursor: pointer;
    width: 6px;
    height: 100%; }
  /* line 368, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider::-webkit-slider-runnable-track {
    background: #757575;
    height: 5px;
    margin: 10px 0; }
  /* line 374, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider::-webkit-slider-thumb:before {
    content: "-";
    position: absolute;
    left: -700px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #e600c8;
    opacity: .4; }
  /* line 385, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider::-webkit-slider-thumb:after {
    content: "";
    position: absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    background: #e600c8;
    border-radius: 50%; }

/* line 398, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#shared-author-sliders .phys-slider::-webkit-slider-thumb:before {
  background: #c8e600; }

/* line 402, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#shared-author-sliders .phys-slider::-webkit-slider-thumb:after {
  background: #c8e600; }

/* line 408, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#cited-sliders .phys-slider::-webkit-slider-thumb:before {
  background: #00c8e6; }

/* line 412, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#cited-sliders .phys-slider::-webkit-slider-thumb:after {
  background: #00c8e6; }

/*# sourceMappingURL=style.css.map */