<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm Kade Keith, a Computer Scientist specializing in front end development. I try to make complicated things simple.">
    
    <!-- Start social sharing meta -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kade_keith" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="I'm Kade Keith, a Computer Scientist specializing in front end development. I try to make complicated things simple." />
    <meta name="twitter:image" content="http://kadekeith.me/img/compressed/splash-background.png" />
    <meta property="og:url" content="http://kadekeith.me/" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="I'm Kade Keith, a Computer Scientist specializing in front end development. I try to make complicated things simple." />
    <meta property="og:image" content="http://kadekeith.me/img/compressed/splash-background.png" />
    <!-- end social sharing meta -->

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" href="/img/compressed/kFavicon.png">
</head>