<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" href="{{ "img/kFavicon.png" | prepend: site.baseurl }}">
    {% if page.url != "/index.html" %}
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <script src="/slider.js"></script>
</head>
