<div id="navPanel">
    <div id="navCanvas">
            <nav>
                <ul>
                    <li><a target="_blank" href="/resume/">Resume</a></li>
                    <li><a href="/projects/">Projects</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/research/">Research</a></li>
                    <li><a target="_blank" href="http://reallyimpressivetitle.blogspot.com/">Blog</a></li>
                    <li><a href="/classes/">Classes</a></li>
                </ul>
            </nav>
    </div>
</div>

<nav>
    <div onclick="toggleSlide();" id="navButton">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul>
        <li><a target="_blank" href="/resume/">Resume</a>|</li>
        <li><a href="/projects/">Projects</a>|</li>
         <li><a href="/about/">About</a>|</li>
        <li><a href="/research/">Research</a>|</li>
        <li><a target="_blank" href="http://reallyimpressivetitle.blogspot.com/">Blog</a>|</li>
        <li><a href="/classes/">Classes</a></li>
    </ul>
</nav>