<div id="navPanel">
    <div id="navCanvas">
        <nav class="standard-nav">
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a target="_blank" href="/resume/">Resume</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a target="_blank" href="/blog/">Blog</a></li>
                <li><a href="/stuff/">Other Stuff</a></li>
            </ul>
        </nav>
    </div>
</div>

<nav id="main-nav" class="standard-nav">
    <div onclick="toggleSlide();" id="navButton">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul>
        <li><a href="/about/">About</a>|</li>
        <li><a target="_blank" href="/resume/">Resume</a>|</li>
        <li><a href="/projects/">Projects</a>|</li>
        <li><a target="_blank" href="/blog/">Blog</a>|</li>
        <li><a href="/stuff/">Other Stuff</a></li>
    </ul>
</nav>