/*
    light green : 809a80
    bar green : rgba(87, 99, 81, .5);
    dark green : rgba(87, 99, 81, .5);
    yellow : ffffcc 
*/

* {
    margin: 0;
    padding; 0;
}

body {
    width: 100%;
    height: 100%;
    /* background-color: #809a80; */
    background-image: url(METhomepage.png); 
    background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
}

/* The toggle button button for the background image*/
.toggle {
    position: fixed;
    top: 5px;
    right: 10px;
}

.header {
    display: block;
}

/* column styles */
.col {
    display: inline-block;
    height: 542px;
    opacity: .9;
    color: white;
    float: left;
}

.left-col {
    width: 141px;
    margin-left: 19px;
}

.right-col {
    width: 567px;
    margin: 0 0 0 3px;
}

.col-bar {
    background-color: rgba(80, 120, 71, 0.3);;
    margin-bottom: 4px;
}

.left-col .col-bar {
    padding: 1px 0 1px 5px;
}

.right-col .col-bar {
    padding: 1px 0 1px 16px;
}

/* left nav colum */

.left-col nav {
    background-color: rgba(87, 99, 81, .5);
    height: 523px;
}

.left-col nav .nav {
    list-style: none;
}

.left-col nav .main-nav {
    margin: 0;
    padding: 9px 0 0 5px;
    font-size: 14px;
}

.left-col nav .main-nav li{
    margin: 4px 0 0 0; 
    cursor: pointer;
}

.left-col nav .sub-nav {
    padding: 0 0 0 10px;
    font-size: 12px;
}

.left-col nav .search {
    margin: 10px 0 0 5px;
    font-size: 14px;
}

.left-col nav input {
    margin: 5px 0 0 5px;
    width: 53px;
}

.left-col img {
    cursor: pointer;
}

/* right column/main content */

.right-col article {
    background-color: gray;
    height: 298px;
    margin-bottom: 2px;
}

.right-col section {
    background-color: gray;
    height: 204px;
}

/* footer styles */
footer {
    color: #ffffcc;
    margin-left: 190px;
    padding-top: 15px;
    clear: both;
}

footer a {
    color: white;
}