html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #D4D4D4;
    font-family: monospace;
}

#webgl-container {
    display: inline-block;
    background-color: #D4D4D4;
    position: absolute;
    left: 430px;
    height: 620px;
    width: 620px;
}

#control-panel {
    background-color: #575757;
    width: 400px;
    height: 100%;
    display: inline-block;
    padding: 10px;
    color: white;
}

ul {
    list-style: none;
}

input {
    width: 50px;
}