/* line 19, C:/Users/Kade/git/CitationViz/app/css/style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 24, C:/Users/Kade/git/CitationViz/app/css/style.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  color: white; }

/* line 31, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.settings-panel {
  width: 300px;
  height: 100%;
  background-color: #333333;
  padding: 0 10px 0 10px; }

/* line 38, C:/Users/Kade/git/CitationViz/app/css/style.scss */
h4 {
  font-weight: 400;
  padding: 10px 0 0 0; }

/* line 43, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#explore-graph {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 500px;
  border-right: 2px solid #333333; }

/* line 53, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#personal-graph {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 300px;
  width: 500px; }

/* line 62, C:/Users/Kade/git/CitationViz/app/css/style.scss */
#mice {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 300px;
  width: 500px;
  background-color: #333333; }

/* UI components */
/* line 73, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.filter-dropdown {
  font-size: 14px;
  margin: 10px 0 10px 0; }
  /* line 77, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-dropdown .dropdown-title {
    background-color: #666666;
    padding: 2px;
    border: 1px solid black;
    box-shadow: 0px 1px 2px 0px black;
    position: relative;
    top: -2px;
    left: -1px;
    cursor: pointer; }
    /* line 87, C:/Users/Kade/git/CitationViz/app/css/style.scss */
    .filter-dropdown .dropdown-title .dropdown-caret {
      font-size: 10px; }
  /* line 93, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-dropdown.expanded .dropdown-title {
    border-bottom: none;
    box-shadow: none; }
  /* line 97, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-dropdown.expanded li {
    display: block; }
  /* line 103, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-dropdown.collapsed li {
    display: none; }
  /* line 108, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-dropdown li {
    background-color: #666666;
    padding: 2px; }

/* line 115, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.filter-slider {
  position: relative;
  width: 200px;
  height: 20px;
  font-size: 12px;
  display: block;
  margin: 10px 0 30px 0; }
  /* line 123, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .filter-slide-title {
    position: absolute;
    left: 214px;
    font-size: 14px; }
  /* line 130, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .filter-slide-end {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 8px;
    width: 200px;
    pointer-events: none;
    height: 20px; }
  /* line 141, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .filter-slide-end::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 8px;
    background: #e600c8;
    pointer-events: all;
    position: relative;
    z-index: 1;
    height: 26px;
    box-shadow: 0px 1px 2px 0px black; }
  /* line 153, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .l-slide::-webkit-slider-thumb {
    border-top-left-radius: 5.33333px;
    border-bottom-left-radius: 5.33333px; }
  /* line 158, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .r-slide::-webkit-slider-thumb {
    border-top-right-radius: 5.33333px;
    border-bottom-right-radius: 5.33333px; }
  /* line 164, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .filter-curtain {
    position: absolute;
    background-color: #666666;
    opacity: .5;
    height: 20px;
    top: 0; }
  /* line 173, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .filter-val-disp {
    position: absolute;
    top: 24px; }
  /* line 179, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .filter-slider .slide-graph {
    width: 100%;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 8px; }
    /* line 186, C:/Users/Kade/git/CitationViz/app/css/style.scss */
    .filter-slider .slide-graph .bar {
      background-color: #e600c8;
      opacity: .3;
      display: inline-block; }

/* line 195, C:/Users/Kade/git/CitationViz/app/css/style.scss */
.phys-slider-container {
  font-size: 12px;
  margin: 10px 0 10px 0; }
  /* line 200, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .icon {
    width: 22px;
    height: 22px; }
  /* line 205, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider-title {
    display: block; }
  /* line 211, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider {
    -webkit-appearance: none;
    border-radius: 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 200px;
    height: 22px;
    background: transparent; }
  /* line 222, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    position: relative;
    cursor: pointer;
    width: 6px;
    height: 100%; }
  /* line 230, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider::-webkit-slider-runnable-track {
    background: #757575;
    height: 5px;
    margin: 10px 0; }
  /* line 236, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider::-webkit-slider-thumb:before {
    content: "-";
    position: absolute;
    left: -400px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #e600c8;
    opacity: .4; }
  /* line 247, C:/Users/Kade/git/CitationViz/app/css/style.scss */
  .phys-slider-container .phys-slider::-webkit-slider-thumb:after {
    content: "";
    position: absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    background: #e600c8;
    border-radius: 50%; }

/*# sourceMappingURL=style.css.map */