$footer-height: 60px;
$choicenav-width: 150px;
$width: 1000px;
$height: 600px;

$myGrey: #333333;
$myGreyTranslucent: rgba(51, 51, 51, 0.7);
$myLightGreyTranslucent: rgba(147, 147, 147, 0.7);


@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align {
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: $myGrey;
    color: white;
}

h1 {
    text-align: center;
    font-size: 12px;
    position: absolute;
    width: 100%;
    top: 200px;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#viewWindow {
    width: $width;
    height: $height;

    position: relative;
    top: $height/2;
    
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    margin: 20px auto 0 auto;
    
    overflow: hidden;
}

#container {
    z-index: 2;
}

#backgroundImg {
    z-index: 1;
    width: 1000px;
    height: 600px; 
}

#curtain {
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.main-text {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: $myGreyTranslucent;
    padding: 16px 0 16px 0;
    font-size: 20px;
    line-height: 1.5;
}

/* Percieved Choice */

.perceived-choice {
    .choicenav {
        width: $choicenav-width;
        text-align: center;
        position: absolute;
        background-color: $myLightGreyTranslucent;
        padding: 6px 0 6px 0;
        
        .link {
            margin: 4px 0 0 0;
        }
    }

    .main-text {
        bottom: 0px;
    }

    /* Two Roads Diverge in the wood */ 
    .left-path {
        top: 30px;
        left: 220px;
    }

    .right-path {
        top: 30px;
        right: 220px;    
    }
    
    /* Crossroads */
    .northwest-path {
        top: 25px;
        left: 75px;
    }
    
    .northeast-path {
        top: 200px;
        right: 20px;
    }
    
    .east-path {
        bottom: 160px;
        right: 20px;
    }
    
    /* Portals */
    
    .left-portal {
        top: 100px;
        left: 100px;
    }
    
    .middle-portal {
        top: 100px;
        left: 50%;
        margin-left: - ($choicenav-width / 2);
    }
    
    .right-portal {
        top: 100px;
        right: 100px;
    }
    
}


/* Landmark */

.landmark {
    
    .main-text {
        top: 0px;
    }    
    
    .flex-container {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        width: 100%;
        
        .link {
            text-align: center;
            background-color: $myLightGreyTranslucent;
            width: 100px;
            margin: 0 40px 0 40px;
            padding: 5px;
        }
    }
    
}
